* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

html{
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}

p{
  font-size: 20px;
}

/*--------------- strona główna ---------------*/
#header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: #022e57;
  color: #fff;
}

.border-line{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ff96ad;
  height: 5px;
}

.container {
  padding: 10px 10%;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

nav ul li {
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff96ad;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/*--------------- kim jesteśmy? ---------------*/
#about {
  padding: 80px 0;
  color: #022e57;
  background: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
}

.about-col-2 {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
}

.linkToSite,
.linkToSite:visited{
  font-weight: bold;
  color: #ff96ad;
}

.linkToSite:hover{
  color: #022e57;
}

/*--------------- co robimy? ---------------*/
#services {
  padding: 90px 0;
  background: #ff96ad;
  color: #022e57;
}

.row.reversed {
  flex-direction: row-reverse; 
}

.about-col-1 img{
  clip-path: circle();
}

/*--------------- dlaczego? ---------------*/
#reason {
  padding: 60px 0;
  background: #fff;
  color: #022e57;
}

/*--------------- wywiad ---------------*/
#interview{
  padding: 40px 0;
  background: #022e57;
  color: #fff;
}

#interview .sub-title{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 20px;
}

#interview .container{
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.left-interview{
  background: #fff;
  border: 10px solid #fff;
  display: flex;
}

.left-interview img{
  height: 400px;
  color: transparent;
}

.center-interview{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.text-interview{
  font-weight: lighter;
  max-width: 500px;
}

.text-interview a{
  color: #ff96ad;
  font-weight: 400;
}

.download-file{
  padding: 10px 20px;
  background: #fff;
  color: #022e57;
  border-radius: 5px;
  font-weight: bold;
  transition: 200ms ease;
}

.download-file:hover{
  color: #022e57;
  background-color: #ff96ad;
}

.download-file.btn{
  width: fit-content;
  font-weight: 500;
  margin-top: 20px;
}

.download-file.btn:hover{
  background-color: #022e57;
  color: #fff;
}


/*--------------- harmonogram ---------------*/
#harmonogram{
  background: #ff96ad;
  color: #022e57;
}

.harmonogram-first{
  background: #ff96ad;
  color: #022e57;
}

.flex-table{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.margin-top{
  margin-top: 80px;
  margin-bottom: 40px;
}

.info-left{
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  align-items: center;
}

.info-left .sub-title.top{
  position: absolute;
  top: 0;
}

.info-left h2{
  font-size: 34px;
}

.info-left p{
  font-size: 20px;
  display: block;
}

.info-left span{
  font-size: 14px;
  color: #333;
}

.info-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex: 1;
}

.info-right h2{
  color: #022e57;
  font-size: 24px;
}

table{
  border-radius: 10px;
}

td{
  border-bottom: 1px solid #022e57;
}

table, th, td{
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
  border-spacing: 0;
}

.info-table th{
  background-color: #022e57;
  color: #fff;
}

#harmonogram .padding{
  padding: 50px;
  margin: 0 auto;
}

.harmonogram-second{
  background: #fff;
  color: #022e57;
}

.flex-table-reverse{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.flex-table-reverse td{
  border-bottom: 1px solid #ff96ad;
}

.table-color{
  border: 2px solid #ddd;
  outline: 0;
}

.harmonogram-third{
  background: #022e57;
  color: #fff;
}

/*--------------- partnerzy ---------------*/
#partners {
  background: #fff;
  color: #022e57;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.item {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  max-width: 80%;
}

/*--------------- kontakt ---------------*/
#footer {
  padding: 50px 0;
  background: #fff;
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  height: 64px;
}

.margin-hr {
  margin: 60px 0;
}

.flex-socials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*--------------- social icons ---------------*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Linkedin */
.fa-linkedin {
  background: #55acee;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #ff96ad;
  color: white;
}

/* TikTok */
.fa-tiktok{
  background-color: #000;
  color: #fff;
  width: 100px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

}

/* hamburger for menu in navbar */

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  
}

.navbar-links li:hover {
  background-color: #ff96ad;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin: 10px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #ff96ad;
  border-radius: 10px;
}

/* media query - for tablet/mobile */

@media only screen and (max-width: 1000px) {

  /* fixed image in background */
  .mainBackground{
    width: 100%;
  }

  .container{
    overflow-x: hidden;
  }

  .sub-title{
    font-size: 2.5rem;
    margin-top: 15px;
  }
 
  .info-left .sub-title.top{
    display: none
  }

  p{
    font-size: 1.225rem;
    /* text-align: justify; */
    text-align: center;
  }


  .navbar {
    width: 100%;
    height: 100vh;
  }
  
  .navbar-links{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links ul{
    display: flex;
    list-style: none;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
      color: #000;
      font-size: 1.125rem;
  }

  .navbar-links.active {
      display: flex;
      z-index: 999;
      position: fixed;
      max-height: 100vh;
      /* overflow-x: hidden; */
  }

  body::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .row,
  .row.reversed{
    flex-direction: column;
    align-items: center;
  }

  .about-col-1,
  .about-col-2{
    flex-basis: 100%;
    text-align: center;
  }

  .row img{
    width: 50%;
  }

  .grid-container{
    grid-template-columns: repeat(2, 1fr);
  }

  .flex-footer{
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .email{
    margin: 20px;
    text-align: center;
  }

  .flex-footer img{
    margin-bottom: 35px;
    width: auto;
  }

  .flex-socials{
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 0 20px;
  }

  .flex-table,
  .flex-table-reverse{
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    gap: 5px;
  }

  .info-right-schedule table th{
    font-size: 0.9em;
    padding: 5px 30px;
  }

  .info-right-schedule table td{
    font-size: 0.9em;
    padding: 9px 15px;
  }

  .info-right-schedule th, td{
    font-size: 0.8em;
  }

  #interview .container{
    flex-direction: column;
    gap: 30px;
  }
  
  #interview .sub-title{
    text-align: center;
  }

  .download-file.btn{
    display: flex;
    margin: 20px auto;
  }

  .margin-top{
    margin-top: 50px;
  }
}

@media only screen and (max-width: 365px) {

  .info-right-schedule table,th,td{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }

  .flex-table{
    font-size: 1em;
  }

}


@media only screen and (max-width: 1000px) {

  .nav-item a{
    font-size: 0.60rem;
  }

}

@media only screen and (max-width: 1200px) {

  .nav-item a{
    font-size: 0.80rem;
    font-weight: bold;
    padding: auto 5px;
  }

}


/* remove soon */
.soon{
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}

.download-file{
  text-align: center;
}